doctype html
html(lang="ru")
	include partials/_header
	body

		.wrapper
			.main-content
				aside.app__sidebar
					ul.app__list
						li.app__item.app__item_active
							a.app-link(href="javascript:void(0)")
								.app__logo
				aside.friends__sidebar
					div.sidebar__search
						input.search__input(placeholder="Search")
					div(id="friendsList")
					//ul.friends__list
					//	li.friends__item
					//		a.friends-link(href="javascript:void(0)")
					//			.friend__data
					//				.friend__img: img(src="https://pp.vk.me/c604418/v604418459/1d6b9/LYo8SXVF_tQ.jpg" class="friend__img-link")
					//				.friend__text
					//					.friend__name Hipsweet Hipsweet
					//					.friend__bdate 14.10.2010
		script(src="js/index.js")

		script(type= "text/x-handlebars-template" id = "friendsTemplate")

			<ul class="friends__list" id="friendList">
			{{#each friend}}
			<li class="friends__item">
			<a href="javascript:void(0)" class="friends-link">
			<div class="friend__data">
			<div class="friend__img"><img src="{{photo_50}}" class="friend__img-link"></div>
			<div class="friend__text">
			<div class="friend__name">{{first_name}} {{ last_name }}</div>


			<div class="friend__bdate">{{#if bdate}}{{ bdate }}{{else}}н.д.{{/if}}</div>



			</div>
			</div>
			</a>
			</li>
			{{/each}}
			</ul>

