doctype html
html(lang="ru")
	include partials/_header
	body

		.wrapper
			.main-content
				aside.app__sidebar
					ul.app__list
						li.app__item.app__item_active
							a.app-link(href="javascript:void(0)")
								.app__logo
				aside.friends__sidebar
					div.sidebar__search
						input.search__input(placeholder="Search")
					div(id="friendsList")

		script(src="js/index.js")

		script(type= "text/x-handlebars-template" id = "friendsTemplate")

			ul.friends__list(id="friendList")
				{{#each friend}}
				li.friends__item
					a.friends-link(href="javascript:void(0)")
						.friend__data
							.friend__img
								{{#if online}}
								.friends__online
								{{/if}}
								img(src="{{photo_50}}" class="friend__img-link")
							.friend__text
								.friend__name {{first_name}} {{ last_name }}
								{{#if _age}}
								.friends__age {{_age}}
								{{/if}}
								.friend__bdate {{#if bdate}}{{ bdate }}{{else}}н.д.{{/if}}
				{{/each}}


