//- Created by mitri4 at 01.08.16
// --//-- _header --\\--
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport" content="width=1200")
	title= "VK Friends"
	link(rel="icon", href="favicon.ico", type="image/x-icon")
	// build:css
	link(rel="stylesheet", href="css/main.css")
	// endbuild
	script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js", type="text/javascript")
	script(src="http://vk.com/js/api/openapi.js", type="text/javascript")
// --\\-- _header --//--